@model Vidly.Models.Movie
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detail</h2>

<text>Movie ID: @Model.Id</text>
<br />
<text>Movie Name: @Model.Name</text>

