@model Vidly.Models.Customer
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detail</h2>

<text>Customer ID: @Model.Id</text>
<br />
<text>Customer Name: @Model.Name</text>

@if(Model.Birthdate != null)
{
    <br /><text>Birthdate: @Model.Birthdate.Value.ToLongDateString()</text>
}